
.clock{
    text-align: center;
}

.date{
    font-size:  20px;/* 원하는 폰트 사이즈 */
    font-weight: bold;
    color : red/* 날짜가 표기되는 텍스트 색상 */
}
.time{
    font-size: 20px; /* 원하는 폰트 사이즈 */
    font-weight: bold;
    color: red;/* 시간이 표기되는 텍스트 색상 */
}
