<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/menu.css">?
</head>


<body>
    <!-- 강의목록 받아와서 표시해주고, 클릭하면 간단설명, 담기버튼 만들기  -->
    <div class = 'logo-home'></div>
    <div class = 'info-bar'></div>
    <div class = 'bar-and-content'>
        <div class = 'side-bar'></div>
        <div class = 'content-area'></div>
    </div>
</body>
</html>