<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>로그인 페이지</title>

    <script>
        function login() {
            let user_id = $('#user_id').val()
            let user_pw = $('#user_pw').val()

            let formData = new FormData();
            formData.append("user_id_give", user_id);
            formData.append("user_pw_give", user_pw);

            fetch('/api/login', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                if (data['result']== 1){
                    alert('성공')
                    window.location.href = '/classes'        
                }
                else{
                    alert('실패')
                    window.location.reload()
                }
            });
        }
    </script>
</head>

<body>
    <!-- 로그인페이지 만들고, 로그인 성공 시 classlist페이지로 넘겨주기 -->
    <h1>로그인페이지</h1>
        <div>
            <label for="user_id">ID</label>
            <input type="text" id="user_id">
            <p></p>
            <label for="user_pw">PW</label>
            <input type="password" id="user_pw" autocomplete="off" required>
        </div>
        <div>
            <button onclick="login()" type="button" class="btn btn-dark">Login</button>
            <a href='register'>회원가입하기</a>
        </div>
</body>

</html>