<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    

    <title>회원가입</title>
</head>
<script>

    function register() {
        $.ajax({
            type: "POST",
            url: "/api/registerpage",
            data: {
                user_id_give: $('#user_id').val(),
                user_pw_give: $('#user_pw').val(),
                user_name_give: $('#user_name').val(),
                re_pw_give: $('#re_pw').val()
            },
            success: function (response) {
                if (response['result'] == 'success') {
                    alert('회원가입이 완료되었습니다.')
                    window.location.href = '/'
                } else {
                    alert(response['msg'])
                }
            }
        })
        // let user_name = $('#user_name').val()
        // let user_id = $('#user_id').val()
        // let user_pw = $('#user_pw').val()
        // let re_pw = $('#re_pw').val()

        // let formData = new FormData();
        // formData.append("user_name_give", user_name);
        // formData.append("user_id_give", user_id);
        // formData.append("user_pw_give", user_pw);
        // formData.append("re_pw_give", re_pw)


        // fetch('/api/registerpage', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
        //     // console.log(user_name,user_id,user_pw,re_pw)
        //     alert(data["msg"])
        //     window.location.href = '/'
        // });

    }

</script>
<body>
    <div class="container">
    <form id="form" method="POST">
    <h1>회원가입</h1>
        <div class="form-container">
            <div class="form-control">
                <input id="user_name" class="input" placeholder="이름" type="text">
                <small>에러문구</small>
            </div>
            <div class="form-control">
                <input id="user_id" class="input" placeholder="아이디" type="text">
                <small>에러문구</small>
            </div>
            <div class="form-control">
                <input id="user_pw" class="input" placeholder="비밀번호" type="password">
                <small>에러문구</small>
            </div>
            <div class="form-control">
                <input id="re_pw" class="input" placeholder="비밀번호 재확인" type="password">
                <small>에러문구</small>
            </div>

        </div>
        <button onclick="register()" type="button">가입하기</button>
    </form>
</div>
<script src="../static/js/register.js"></script>
</body>

</html>