<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/menu.css">?
</head>

<style>


</style>

<body>
    <!-- 내 장바구니 보여주고, 삭제, 신청버튼, 시간표들어갈 공간 남겨두기 -->
    <div class='logo-home'></div>
    <div class='info-bar'></div>
    <div class='bar-and-content'>
        <div class='side-bar'></div>
        <div class='content-area'>

        </div>
    </div>
</body>

</html>